@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Orbitron:wght@700&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0
}

.container__home {
    display: flex;
    flex-direction: column;
    height: 616px;
    background-image: url("./img-home.png");
    background-position: center;
}

.container__home__h3 {
    margin: auto auto 0 auto;
    width: 313px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;


}

.container__home__h5 {
    margin: 11px auto auto auto;
    width: 313px;
    height: 39px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -2px;

    color: #FFFFFF;
}

.presentacion {
    height: 538px;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    text-align: justify;


}

@media(min-width:960px) {
    .presentacion {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 50px;
        align-items: end;
        background-color: #ffffff;
    }
}

.presentacion__container {
    height: 100%;
    margin: auto;
}

.presentacion__container__h5 {
    width: 271px;
    height: 39px;



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;


    text-align: center;
    letter-spacing: -2px;



    color: #FAFAFA;
}
@media(min-width:960px) {
    .presentacion__container__h5{
        width: 310.73px;
        height: 50.85px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -2px;
        color: #2C2C2C;}

}


.presentacion__container__p {
    width: 312px;
    height: 193px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #FAFAFA;
}
@media(min-width:960px) {
    .presentacion__container__p{
        width: 610px;
        height: 215.13px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #2C2C2C;
        overflow: auto;
    }}

.separador-momentaneo {
    height: 100px;
    background-color: #FFFFFF;
}
@media(min-width:960px) {
    .separador-momentaneo{display: none;}

.presentacion__img {
    display: none;
    height: 480px;
    width: 380px;
}

@media(min-width:960px) {
    .presentacion__img {
        display: initial;
    }
}