@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Orbitron:wght@700&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0
}

.container__home {
    display: flex;
    flex-direction: column;
    height: 616px;
    background-image: url("./img-home.png");
    background-position: center;
}

.container__home__h3 {
    margin: auto auto 0 auto;
    width: 313px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;


}

.container__home__h5 {
    margin: 11px auto auto auto;
    width: 313px;
    height: 39px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -2px;

    color: #FFFFFF;
}

.presentacion {
    min-height: 538px;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    text-align: justify;


}

@media(min-width:960px) {
    .presentacion {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: end;
        background-color: #ffffff;
        padding: 6%;
    }
}

.presentacion__container {
        margin: auto;
}

.presentacion__container__h5 {
    max-width: 271px;
    max-height: 39px;
    margin: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;


    text-align: center;
    letter-spacing: -2px;



    color: #FAFAFA;
}
@media(min-width:960px) {
    .presentacion__container__h5{
        max-width: 310.73px;
        max-height: 50.85px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -2px;
        color: #2C2C2C;
        text-align: left;}

}


.presentacion__container__p {
    max-width: 312px;
    max-height: 193px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #FAFAFA;
}
@media(min-width:960px) {
    .presentacion__container__p{
        max-width: 800px;
        max-height: 215.13px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #2C2C2C;
        overflow: auto;
    }}


.presentacion__img {
    display: none;
    height: 480px;
    width: 380px;
}

@media(min-width:960px) {
    .presentacion__img {
        display: inherit;
    }
}
.form-section{
    background-color: #141414;
}
@media (min-width:960px){
    .servicios__header__h3{
        display: initial;}
    }
    .container-servicios{
    display: grid;
    justify-content: center;
    margin: 0;
    background-color: #FAFAFA;
    
    ;
    }
    .servicios{
    margin: 46px auto 100px auto;
    max-width: 500px;
    display: grid;
    gap: 10px;
    text-align: center;
    color: #000000;
    
    
    
    
    }
    .title{
    margin: 0 auto;
    height: 48px;
    width: 313px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    
    color: #2C2C2C;
    
    
    
    }
   
    .contenedor{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 44px;
    padding: 6%;
    justify-content: center;
    }
    @media (max-width: 959px){
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;}
    }
    .card{
    display: grid;
    max-width: 380px;
   
    justify-items: center;
    }
    .img-card{
    
    max-width: 257px;
    max-height: 172px;
    margin: 0;
    object-fit: cover;
    
    }
    .descripcion{
    
    display: grid;
    gap: 10px;
    max-width: 1fr;
    justify-content: center;
    margin-top: 15px;
    
    }
    .title-card{
    margin: 0 auto;
    max-width: 301px;
    min-height: 39.41px;
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    
    color: #2C2C2C;
    
    }
    .p-card{
    
    width: 100%;
    max-height: 262px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    overflow: auto;
    
    
    color: #2C2C2C;
    
    }

